body {
    color: #ddd;
    background: #080808;
}

.grid-container{
    border-spacing: 0;
    border-collapse: collapse;
}

.grid-container canvas {
    display: block;
}

.generator-parameters {
    vertical-align: top;
}

form ul > li {
    list-style: none;
}